.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    padding: 10px;
}

.formHeader {
    text-transform: uppercase;
}

.inputWrapper {
    margin: 10px 0;
}

.errorText {
    color: red;
    font-weight: bolder;
    text-transform: uppercase;
}